#services .container {
    display: flex;
    .one {
        z-index: 1;
    }
    .two {
        z-index: 2;
    }
    .three {
        z-index: 3;
    }
    .four {
        z-index: 4;
    }
}

.InLayer {
    border-radius: 10px;
    margin-right: 30px;
    flex: 1;
    flex-wrap: nowrap;
    height: 288px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 55px 25px $icongrey;
    h5 {
        font-weight: 400;
        font-size: 16px;
        color: #3B566E;
        letter-spacing: 0.7px;
        margin-bottom: 15px;
    }
    p {
        font-weight: 400;
        font-size: 14px;
        color: #6F8BA4;
        letter-spacing: 0.88px;
        line-height: 26px;
        text-align: center;
        padding: 0 25px;
    }
    i {
        color: $purple;
        font-size: 18px;
        padding: 25px;
        border-radius: 100%;
        background: $icongrey;
        margin-bottom: 15px;
    }
}