.left {
    float: left;
    h1 {
        font-weight: 400;
        font-size: 28px;
        color: #1E3056;
        line-height: 46px;
        letter-spacing: 0.93px;
        margin-bottom: 20px;
    }
    span {
        color: #585CE9;
    }
    p {
        font-weight: 400;
        font-size: 16px;
        color: #697BA2;
        line-height: 28px;
        letter-spacing: 1px;
        margin-bottom: 40px;
        position: relative;
    }
    button {
        width: 170px;
        height: 44px;
        line-height: 44px;
    }
}

.right {
    float: right;
    .ramka {
        height: 543px;
        width: 540px;
    }
    .image {
        overflow: hidden
    }
    .one {
        height: 332px;
        width: 49%;
        float: left;
    }
    .two {
        width: 49%;
        height: 251px;
        float: left;
    }
    .three {
        width: 49%;
        float: right;
    }
    .four {
        width: 49%;
        height: 281px;
        float: right;
    }
}