#welcome {
    margin-top: 100px;
}

#welcome .left {
    margin: 80px 50px;
    width: 48%;
    h1 {
        font-weight: 400;
        font-size: 28px;
        color: #1E3056;
        line-height: 46px;
        letter-spacing: 0.93px;
        margin-bottom: 20px;
    }
    span {
        color: $purple;
    }
    p {
        font-weight: 400;
        font-size: 16px;
        color: #697BA2;
        line-height: 28px;
        letter-spacing: 1px;
        margin-bottom: 40px;
        position: relative;
    }
    button {
        width: 170px;
        height: 44px;
        line-height: 44px;
    }
}

#welcome .right {
    width: 48%;
    .ramka {
        height: 543px;
        width: 540px;
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
    }
    .image {
        overflow: hidden
    }
    .one {
        height: 332px;
        width: 49%;
        #i1 {
            width: 539px;
            position: relative;
            right: 92px;
        }
    }
    .two {
        width: 49%;
        height: 251px;
        margin-left: 10px;
        #i2 {
            width: 388px;
            position: relative;
            right: 40px;
        }
    }
    .three {
        width: 49%;
        height: 200px;
        margin-top: 10px;
        #i3 {
            width: 302px;
        }
    }
    .four {
        width: 49%;
        height: 281px;
        position: relative;
        bottom: 70px;
        left: 10px;
        #i4 {
            width: 539px;
            position: relative;
            right: 92px;
            bottom: 340px;
            z-index: 0;
            // background-color: $rgbaPurple;
        }
    }
    img {
        margin: auto;
    }
    .image {
        overflow: hidden;
        border-radius: 10px;
    }
    .goals {
        height: 281px;
        position: relative;
        z-index: 2;
        background-color: $rgbaPurple;
        p {
            font-size: 18px;
            color: white;
            line-height: 28px;
            letter-spacing: 1.12px;
        }
        strong {
            color: white;
            font-size: 14px;
            font-weight: 400;
        }
        .text {
            position: relative;
            top: 35%;
            margin: 0 15px;
        }
    }
}

.welcome-wrapper {
    display: flex;
}