$background: #F7FAFD;
$grey:#697BA2;
$purple: #585CE9;
$rgbaPurple:rgba(88, 92, 233, 0.8);
$navtext: #6F8BA4;
$container-width:1140px;
$icongrey:#F7FAFD;
$boxshadow:0 2px 48px 0 rgba(0, 0, 0, 0.08);
$spanColor:#E5E9F7;