$background: #F7FAFD;
//navbar
$Navboxshadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
$grey:#697BA2;
$navtext: #6F8BA4;
//PURPLE SHADES USED FOR BUTTONS AND DESIGN BOXES
$purple: #585CE9;
$rgbaPurple:rgba(88, 92, 233, 0.8);
//DEFAULT CONTAINER-WDITH
$container-width:1140px;
//icon color and the under box element for a diagonal design of #Cloud options
$icongrey:#F7FAFD;
//every boxshadow
$boxshadow:0 2px 48px 0 rgba(0, 0, 0, 0.08);
//used in faq parallax and design box
$spanColor:#E5E9F7;
//blog
$indigo:#6610f2; //for hovering
$buttonhover:#4146e6; //also for hovering
//Footer SAME AS SPANCOLOR
$footerText:#E5E9F7;