* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Nunito", sans-serif;
  background-repeat: no-repeat;
}

#faq-body {
  background-image: none !important;
}

#home-body {
  background-image: url("../images/download.svg");
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 50px;
}

.defaultText {
  text-align: center;
  width: 540px;
  margin-left: 25%;
}

.defaultText h1 {
  font-weight: 400;
  font-size: 28px;
  color: #3B566E;
  line-height: 46px;
  letter-spacing: 0.93px;
  margin-bottom: 20px;
}

.defaultText span {
  color: #585CE9;
}

.defaultText p {
  font-weight: 400;
  font-size: 16px;
  color: #697BA2;
  line-height: 28px;
  letter-spacing: 1px;
  margin-bottom: 40px;
  position: relative;
}

h3 {
  font-weight: 400;
  font-size: 16px;
  color: #3B566E;
}

p {
  font-weight: 400;
  font-size: 16px;
  color: #697BA2;
  letter-spacing: 1px;
}

button {
  padding-left: 25px;
  padding-right: 25px;
  border: 1px solid #585CE9;
  border-radius: 5px;
  display: inline-block;
  height: 32px;
  margin-top: 5px;
  line-height: 31px;
  letter-spacing: 0.5px;
  background: none;
  color: #585CE9;
  position: relative;
  overflow: hidden;
  margin-top: 32px;
  font-weight: 700;
  font-size: 12px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  min-width: 110px;
  text-align: center;
}

.button {
  width: 160px;
  margin: auto;
  display: inline-block;
  height: 44px;
  line-height: 44px;
  text-align: center;
  border: none;
  border-radius: 5px;
  background: #585CE9;
  margin-bottom: 40px;
  font-size: 12px;
  color: #fff;
  letter-spacing: 0.75px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  outline: none !important;
  cursor: pointer;
  position: relative;
}

@media screen and (max-width: 1140px) {
  #faq .container .wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #faq .container .wrapper .intro {
    width: 100%;
  }
  #faq .container .wrapper .faqs {
    width: 100%;
  }
}

@media screen and (max-width: 1140px) {
  footer .main {
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
  }
}

@media screen and (max-width: 1140px) {
  nav .main {
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
  }
}

@media screen and (max-width: 815px) {
  button {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  nav .main-nav {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 5;
    list-style-type: none;
    display: none;
    margin-top: 50px;
    width: 100%;
    background: white;
  }
  nav .main-nav li {
    margin: 15px;
  }
  nav .navbar-toggle {
    display: block;
  }
  nav .logo {
    display: inline-block;
    margin-top: 10px;
    margin-left: 20px;
  }
}

@media screen and (max-width: 1140px) {
  #cloud .flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #cloud .flex .options {
    margin: 0 auto;
  }
  #cloud .flex .right {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  #cloud .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 1140px) {
  #services .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 1140px) {
  #mission .mission-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #mission .image {
    width: 100%;
  }
  #mission .image img {
    width: 100%;
  }
  #mission .about-text {
    position: unset !important;
  }
  #vission .mission-wrapper {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  #vission .image {
    width: 100%;
  }
  #vission .image img {
    width: 100%;
  }
  #vission .about-text {
    position: unset !important;
  }
}

footer {
  color: white !important;
  background: #585CE9;
  padding-top: 70px;
}

footer p {
  color: white !important;
}

footer .container .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

footer .container .main p {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.88px;
}

footer .container .main h5 {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  letter-spacing: 0.69px;
  line-height: 30px;
  margin-bottom: 30px !important;
}

footer .container .main ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .container .main ul li {
  display: inline;
  margin-bottom: 15px;
  font-size: 14px;
  color: #E5E9F7;
}

footer .container .main ul li i {
  margin-right: 5px;
  font-size: 14px;
  position: relative;
  top: 3px;
}

footer .container .main ul li:hover i {
  margin-right: 10px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

footer .container .section {
  margin-left: 29px;
}

footer .container .copyright {
  text-align: center;
  border-top: 1px solid #777BFF;
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  color: #E5E9F7;
  letter-spacing: 0.88px;
}

.one {
  width: 456px;
}

.two {
  width: 170px;
}

.three {
  width: 170px;
}

.four p {
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 26px;
}

.four i {
  font-size: 14px;
  color: #E5E9F7;
  padding: 0 5px;
}

.nav-links,
.logo {
  text-decoration: none;
  color: #6F8BA4;
  margin-top: 34px;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  font-size: 24px;
  display: none;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 0;
  height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin-top: 27px;
  margin-left: 80px;
}

.main-nav li {
  padding: 0 20px;
}

.main-nav li a {
  font-weight: 600;
  font-size: 14px;
  color: #6F8BA4;
  height: 40px;
  line-height: 40px;
  border: transparent;
  letter-spacing: 1px;
}

.nav-container {
  max-width: 1140px;
  margin: 0 auto;
  position: relative;
}

.nav-buttons {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: auto;
}

.dropdown {
  position: relative;
  z-index: 998;
}

.dropdown .subnav {
  position: absolute;
  top: 40px;
  left: 50px;
  overflow: hidden;
  width: 200px;
  display: none;
  -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
  border-radius: 5px;
}

.dropdown .subnav li:hover {
  border-left: 2px solid #585CE9;
}

.dropdown .subnav li {
  background: white;
}

.dropdown .subnav a {
  display: block;
  background: #fff;
  color: #3B566E;
  padding-left: 20px;
  height: 40px;
  line-height: 40px;
  font-size: 13px;
  border-bottom: 1px solid #f5f5f5;
  text-decoration: none;
}

.dropdown i {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  font-size: 14px;
  color: #6F8BA4;
  position: relative;
  top: 2px;
}

.dropdown:hover .subnav {
  display: block;
}

ul {
  list-style: none;
}

#type1 {
  border: 1px solid #585CE9;
  color: #585CE9;
  margin-top: 24px;
}

#type1:hover {
  background-image: linear-gradient(135deg, #585CE9 0%, #5C83E3 100%);
  color: #fff;
  margin-top: 24px;
  border: 1px solid #585CE9;
  -webkit-box-shadow: 0 4px 5px 0 rgba(103, 67, 213, 0.24);
          box-shadow: 0 4px 5px 0 rgba(103, 67, 213, 0.24);
}

#type2 {
  background-image: linear-gradient(135deg, #585CE9 0%, #5C83E3 100%);
  color: #fff;
  margin-top: 24px;
  border: 1px solid #585CE9;
  -webkit-box-shadow: 0 4px 5px 0 rgba(103, 67, 213, 0.24);
          box-shadow: 0 4px 5px 0 rgba(103, 67, 213, 0.24);
}

#type2:hover {
  background-image: none;
  border: 1px solid #585CE9;
  color: #585CE9;
  margin-top: 24px;
  background-color: white;
}

.active {
  display: block !important;
  margin-bottom: 100px;
}

.loader-wrapper {
  z-index: 999;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: #585CE9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loader {
  display: inline-block;
  width: 60px;
  height: 60px;
  border: 4px solid white;
  -webkit-animation: loader 2s infinite ease;
          animation: loader 2s infinite ease;
  background-color: white;
  border-radius: 5px;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: white;
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#welcome {
  margin-top: 100px;
}

#welcome .left {
  margin: 80px 50px;
  width: 48%;
}

#welcome .left h1 {
  font-weight: 400;
  font-size: 28px;
  color: #1E3056;
  line-height: 46px;
  letter-spacing: 0.93px;
  margin-bottom: 20px;
}

#welcome .left span {
  color: #585CE9;
}

#welcome .left p {
  font-weight: 400;
  font-size: 16px;
  color: #697BA2;
  line-height: 28px;
  letter-spacing: 1px;
  margin-bottom: 40px;
  position: relative;
}

#welcome .left button {
  width: 170px;
  height: 44px;
  line-height: 44px;
}

#welcome .right {
  width: 48%;
}

#welcome .right img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#welcome .right .ramka {
  height: 543px;
  width: 540px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
}

#welcome .right .image {
  overflow: hidden;
}

#welcome .right .one {
  height: 332px;
  width: 49%;
}

#welcome .right .one #i1 {
  width: 539px;
  position: relative;
  right: 92px;
}

#welcome .right .two {
  width: 49%;
  height: 251px;
  margin-left: 10px;
}

#welcome .right .two #i2 {
  width: 388px;
  position: relative;
  right: 40px;
}

#welcome .right .three {
  width: 49%;
  height: 200px;
  margin-top: 10px;
}

#welcome .right .three #i3 {
  width: 302px;
}

#welcome .right .four {
  width: 49%;
  height: 281px;
  position: relative;
  bottom: 70px;
  left: 10px;
}

#welcome .right .four #i4 {
  width: 539px;
  position: relative;
  right: 92px;
  bottom: 340px;
  z-index: 0;
}

#welcome .right img {
  margin: auto;
}

#welcome .right .image {
  overflow: hidden;
  border-radius: 10px;
}

#welcome .right .goals {
  height: 281px;
  position: relative;
  z-index: 2;
  background-color: rgba(88, 92, 233, 0.8);
}

#welcome .right .goals p {
  font-size: 18px;
  color: white;
  line-height: 28px;
  letter-spacing: 1.12px;
}

#welcome .right .goals strong {
  color: white;
  font-size: 14px;
  font-weight: 400;
}

#welcome .right .goals .text {
  position: relative;
  top: 35%;
  margin: 0 15px;
}

.welcome-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#services .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#services .container .one {
  z-index: 1;
}

#services .container .two {
  z-index: 2;
}

#services .container .three {
  z-index: 3;
}

#services .container .four {
  z-index: 4;
}

.InLayer {
  min-width: 255px;
  border-radius: 10px;
  margin-right: 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 288px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 0px 55px 25px #F7FAFD;
          box-shadow: 0px 0px 55px 25px #F7FAFD;
}

.InLayer:hover {
  background-color: #585CE9;
  color: white;
}

.InLayer:hover h5 {
  color: white;
}

.InLayer:hover p {
  color: white;
}

.InLayer h5 {
  font-weight: 400;
  font-size: 16px;
  color: #3B566E;
  letter-spacing: 0.7px;
  margin-bottom: 15px;
}

.InLayer p {
  font-weight: 400;
  font-size: 14px;
  color: #6F8BA4;
  letter-spacing: 0.88px;
  line-height: 26px;
  text-align: center;
  padding: 0 25px;
}

.InLayer i {
  color: #585CE9;
  font-size: 18px;
  padding: 25px;
  border-radius: 100%;
  background: #F7FAFD;
  margin-bottom: 15px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

#cloud {
  background-color: #F7FAFD;
  padding-bottom: 50px;
}

#cloud .left {
  margin-top: 100px;
  padding-right: 127px;
}

#cloud .right {
  margin-top: 100px;
  width: 100%;
}

#cloud .right img {
  margin-top: 80px;
}

#cloud .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#cloud .options .option {
  width: 255px;
  margin: 20px;
  margin-left: 0px;
  height: 40px;
  background: white;
  height: 40px;
  line-height: 40px;
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.88px;
  cursor: pointer;
  overflow: hidden;
}

#cloud .options .option:hover .designBorder {
  background: #585CE9;
  width: 165px;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

#cloud .options .option:hover a {
  margin-left: 10px;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

#cloud .options .option:hover i {
  color: white !important;
}

#cloud .options .option .optionAnchor {
  text-decoration: none;
}

#cloud .options .option .optionAnchor span {
  color: #3B566E;
  margin-left: 40px;
}

#cloud .options .option .optionAnchor i {
  position: relative;
  z-index: 3;
  left: 17px;
  top: 5px;
  color: black;
  font-size: 18px;
}

#cloud .options .option .designBorder {
  position: relative;
  bottom: 40px;
  right: 70px;
  z-index: 2;
  height: 120px;
  width: 150px;
  background: #F7FAFD;
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}

#cloud .options .firstOption {
  pointer-events: none;
}

#cloud .options .firstOption .designBorder {
  background: #585CE9;
}

#cloud .options .firstOption i {
  color: white !important;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

#Design {
  margin-top: 0 !important;
  padding-bottom: 50px;
}

#Design .flex {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#Design .left {
  margin-top: 100px;
}

#Design .right {
  margin-top: 100px;
  width: 100%;
}

#Design .right img {
  margin-top: 80px;
}

#Design .container {
  margin-top: 0 !important;
}

#Design .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#Design .options .option {
  width: 255px;
  margin: 20px;
  margin-left: 0px;
  height: 40px;
  background: white;
  height: 40px;
  line-height: 40px;
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.88px;
  cursor: pointer;
  overflow: hidden;
}

#Design .options .option:hover .designBorder {
  background: #585CE9;
  width: 165px;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

#Design .options .option:hover a {
  margin-left: 10px;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

#Design .options .option:hover i {
  color: white !important;
}

#Design .options .option .optionAnchor {
  text-decoration: none;
}

#Design .options .option .optionAnchor span {
  color: #3B566E;
  margin-left: 40px;
}

#Design .options .option .optionAnchor i {
  position: relative;
  z-index: 3;
  left: 17px;
  top: 5px;
  color: black;
  font-size: 18px;
}

#Design .options .option .designBorder {
  position: relative;
  bottom: 40px;
  right: 70px;
  z-index: 2;
  height: 120px;
  width: 150px;
  background: #F7FAFD;
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}

#Design .options .firstOption {
  pointer-events: none;
}

#Design .options .firstOption .designBorder {
  background: #585CE9;
}

#Design .options .firstOption i {
  color: white !important;
}

#team .container .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#team .container .team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

#team .container .team .teamMember {
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  margin-left: 30px;
  text-align: center;
}

#team .container .team .teamMember:hover .designBox {
  height: 120px;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}

#team .container .team .teamMember:hover .icons i {
  z-index: 5;
  color: white;
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
}

#team .container .team .teamMember .designBox {
  width: 100%;
  height: 65px;
  background-image: linear-gradient(135deg, #585CE9 0%, #5C83E3 100%);
  border-radius: 5px 5px 0px 0px;
  position: absolute;
  z-index: 2;
}

#team .container .team .teamMember .image {
  border-radius: 100%;
  overflow: hidden;
  width: 96px;
  height: 96px;
  border: 6px solid #fff;
  position: relative;
  left: 0px;
  right: 0px;
  top: 48px;
  margin: auto;
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
}

#team .container .team .teamMember .icons {
  z-index: 3;
  margin-top: 40px;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#team .container .team .teamMember .icons i {
  margin: 0 7px;
  color: #585CE9;
  font-size: 14px;
}

#team .container .team .teamMember .memberInfo h3 {
  position: relative;
  margin-top: 5px;
  color: white;
  z-index: 3;
}

#team .container .team .teamMember .memberInfo span {
  position: relative;
  font-weight: 400;
  font-size: 12px;
  color: #E5E9F7;
  z-index: 3;
}

#team .container .team .teamMember .memberInfo p {
  position: relative;
  color: #6F8BA4;
  font-size: 14px;
  padding: 0 25px;
  letter-spacing: 0.6px;
  line-height: 26px;
}

#Prices {
  background-color: #F7FAFD;
}

#Prices .container .text {
  margin-top: 40px;
}

#Prices .container .plans {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

#Prices .container .plans .plan {
  overflow: hidden;
  width: 350px;
  margin-left: 30px;
  background: white;
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  margin-bottom: 30px;
}

#Prices .container .plans .plan .head {
  border-bottom: 1px solid #F7FAFD;
  text-align: center;
  height: 130px;
}

#Prices .container .plans .plan .head h3 {
  position: relative;
  top: 55px;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  color: #3B566E;
}

#Prices .container .plans .plan .body {
  margin-bottom: 40px;
}

#Prices .container .plans .plan .body .number {
  position: relative;
  top: -20px;
  border-radius: 100%;
  width: 42px;
  height: 42px;
  line-height: 42px;
  background: #F7FAFD;
  margin: auto;
  text-align: center;
}

#Prices .container .plans .plan .body .number span {
  font-weight: 400;
  font-size: 16px;
  color: #585CE9;
}

#Prices .container .plans .plan .body .price {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
}

#Prices .container .plans .plan .body .price span {
  color: #585CE9;
}

#Prices .container .plans .plan .body .price #sign {
  height: 47px;
  font-weight: 600;
  font-size: 20px;
  color: #585CE9;
  position: relative;
  top: -15px;
}

#Prices .container .plans .plan .body .price #value {
  font-weight: 700;
  font-size: 34px;
  color: #585CE9;
  letter-spacing: 2.12px;
}

#Prices .container .plans .plan .body .price #month {
  font-weight: 700;
  font-size: 14px;
  color: #585CE9;
  letter-spacing: 0.88px;
}

#Prices .container .plans .plan .body .list {
  text-align: center;
}

#Prices .container .plans .plan .body .list .listItem {
  color: #3B566E;
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.88px;
}

#Prices .container .plans .plan .foot {
  text-align: center;
}

#Prices .container .plans .plan .foot button {
  margin-bottom: 40px;
  letter-spacing: 0.75px;
}

.no {
  color: #CCDCEA !important;
  text-decoration: line-through;
}

#headMiddle {
  background-image: linear-gradient(135deg, #585CE9 0%, #5C83E3 100%) !important;
}

#headMiddle span {
  z-index: 3;
}

#headMiddle h3 {
  color: white !important;
}

#parallax {
  position: relative;
  min-height: 315px;
  overflow: hidden;
  background-image: url("../images/parallax.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#parallax .container::before {
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  content: '';
  width: 100%;
  height: 100%;
  opacity: .80;
  background: #585CE9;
  z-index: 2;
}

#parallax .container .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

#parallax .container .wrapper .item {
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 285px;
  position: relative;
  z-index: 4;
}

#parallax .container .wrapper .item strong {
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  letter-spacing: 1.72px;
  margin: 40px 0 0 15px;
  color: #fff !important;
}

#parallax .container .wrapper .item span {
  padding-top: 20px;
  position: relative;
  left: 20%;
  width: 60%;
  border-top: 1px dashed #fff;
  text-align: center;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.86px;
}

.wrapper-2 {
  position: relative;
  z-index: 4;
  text-align: center;
  font-weight: 400;
  font-size: 22px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.wrapper-2 p {
  color: #fff;
  font-size: 22px;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

.wrapper-2 p span {
  text-decoration: underline;
}

.wrapper-2 button {
  line-height: 1;
  height: 44px;
  background: white;
  padding: 15px 40px;
  text-align: center;
}

.faq {
  height: 270px;
}

.wrapper-3 {
  position: relative;
  top: 80px;
  z-index: 4;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper-3 h1 {
  font-weight: 400;
  font-size: 36px;
  height: 50px;
  line-height: 46px;
  letter-spacing: 1.4px;
  color: #fff;
  text-align: center;
}

.wrapper-3 p {
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  letter-spacing: 1px;
}

.wrapper-3 i {
  color: #E5E9F7;
  font-size: 16px;
  position: relative;
  top: 3px;
}

.wrapper-3 span {
  font-weight: 400;
  font-size: 14px;
  color: #E5E9F7;
  line-height: 30px;
  margin-left: 10px;
  display: inline-block;
}

#blog .container .wrapper-blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#blog .container .wrapper-blog .blog-item {
  width: 380px;
  margin-bottom: 30px;
}

#blog .container .wrapper-blog .blog-item .image {
  height: 200px;
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 25px;
}

#blog .container .wrapper-blog .blog-item .image img {
  position: relative;
  bottom: 20%;
  width: 350px;
}

#blog .container .wrapper-blog .blog-item h3 {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  color: #3B566E;
  letter-spacing: 1px;
  line-height: 26px;
  margin-bottom: 10px;
}

#blog .container .wrapper-blog .blog-item p {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  color: #6F8BA4;
  letter-spacing: 0.88px;
  line-height: 26px;
  margin-bottom: 15px;
}

#blog .container .wrapper-blog .blog-item #p2 {
  padding: 0 10px;
}

#blog .container .wrapper-blog .blog-item .button {
  margin: 0 110px;
}

#blog .container .wrapper-blog .blog-item .button:hover {
  background-color: #6610f2 !important;
}

#faq .container {
  padding-top: 100px;
}

#faq .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#faq .wrapper .intro {
  width: 50%;
}

#faq .wrapper .intro .intro-wrapper {
  width: 540px;
  padding: 0 15px;
}

#faq .wrapper .intro .intro-wrapper h2 {
  font-weight: 400;
  font-size: 30px;
  color: #585CE9;
  letter-spacing: 1.88px;
  margin-bottom: 20px;
}

#faq .wrapper .intro .intro-wrapper p {
  margin-bottom: 28px;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.88px;
  line-height: 28px;
  color: #6F8BA4;
}

#faq .wrapper .faqs {
  width: 50%;
}

#faq .wrapper .faqs .faqs-wrapper .card {
  width: 540px;
  padding: 0 15px;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
}

#faq .wrapper .faqs .faqs-wrapper .card .questions p {
  width: 100%;
  text-align: left;
  padding: 0px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
  color: #3B566E;
  text-decoration: none !important;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 20px;
}

#mission {
  margin: 30px 0;
}

#mission .mission-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#mission .mission-wrapper .image {
  border-radius: 5px;
  overflow: hidden;
}

#mission .mission-wrapper .image img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#mission .mission-wrapper .about-text {
  background: white;
  border-radius: 5px;
  position: absolute;
  left: 60%;
  top: 10%;
  z-index: 2;
  padding: 30px;
  padding-bottom: 10px;
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
}

#mission .mission-wrapper .about-text h2 {
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 1.75px;
  color: #3B566E;
  margin-bottom: 20px;
}

#mission .mission-wrapper .about-text p {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  margin-bottom: 20px;
}

#vission {
  margin: 30px 0;
}

#vission .mission-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#vission .mission-wrapper .image {
  border-radius: 5px;
  overflow: hidden;
}

#vission .mission-wrapper .image img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#vission .mission-wrapper .about-text {
  background: white;
  border-radius: 5px;
  position: absolute;
  right: 60%;
  top: 10%;
  z-index: 2;
  padding: 30px;
  padding-bottom: 10px;
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
}

#vission .mission-wrapper .about-text h2 {
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 1.75px;
  color: #3B566E;
  margin-bottom: 20px;
}

#vission .mission-wrapper .about-text p {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  margin-bottom: 20px;
}
/*# sourceMappingURL=main.css.map */