* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Nunito", sans-serif;
}

.container {
  width: 1140px;
  margin: 0 auto;
  margin-top: 50px;
}

button {
  padding-left: 25px;
  padding-right: 25px;
  border: 1px solid #585CE9;
  border-radius: 5px;
  display: inline-block;
  height: 32px;
  margin-top: 5px;
  line-height: 31px;
  letter-spacing: 0.5px;
  background: none;
  color: #585CE9;
  position: relative;
  overflow: hidden;
  margin-top: 32px;
  font-weight: 700;
  font-size: 12px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  min-width: 110px;
  text-align: center;
}

.nav-links,
.logo {
  text-decoration: none;
  color: #6F8BA4;
  margin-top: 34px;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  font-size: 24px;
  display: none;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 0;
  height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin-top: 27px;
  margin-left: 80px;
}

.main-nav li {
  padding: 0 20px;
}

.main-nav li a {
  font-weight: 600;
  font-size: 14px;
  color: #6F8BA4;
  height: 40px;
  line-height: 40px;
  border: transparent;
  letter-spacing: 1px;
}

.nav-container {
  width: 1140px;
  margin: 0 auto;
}

.nav-buttons {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: auto;
}

.dropdown .subnav {
  display: none;
  position: relative;
  top: 50px;
}

.dropdown i {
  color: #6F8BA4;
  position: relative;
  top: 7px;
}

.dropdown:hover .subnav {
  display: block;
}

ul {
  list-style: none;
}

@media screen and (max-width: 1140px) {
  .main-nav {
    position: absolute;
    left: 35%;
    top: 0px;
    list-style-type: none;
    display: none;
    margin-top: 50px;
  }
  .main-nav li {
    margin: 15px;
  }
  .navbar-toggle {
    display: block;
  }
  .logo {
    display: inline-block;
    margin-top: 10px;
    margin-left: 20px;
  }
}

#type1 {
  border: 1px solid #585CE9;
  color: #585CE9;
  margin-top: 24px;
}

#type1:hover {
  background-image: linear-gradient(135deg, #585CE9 0%, #5C83E3 100%);
  color: #fff;
  margin-top: 24px;
  border: 1px solid #585CE9;
  -webkit-box-shadow: 0 4px 5px 0 rgba(103, 67, 213, 0.24);
          box-shadow: 0 4px 5px 0 rgba(103, 67, 213, 0.24);
}

#type2 {
  background-image: linear-gradient(135deg, #585CE9 0%, #5C83E3 100%);
  color: #fff;
  margin-top: 24px;
  border: 1px solid #585CE9;
  -webkit-box-shadow: 0 4px 5px 0 rgba(103, 67, 213, 0.24);
          box-shadow: 0 4px 5px 0 rgba(103, 67, 213, 0.24);
}

#type2:hover {
  background-image: none;
  border: 1px solid #585CE9;
  color: #585CE9;
  margin-top: 24px;
  background-color: white;
}

.active {
  display: block;
}

#welcome {
  margin-top: 100px;
}

.left {
  margin: 80px 50px;
  width: 48%;
}

.left h1 {
  font-weight: 400;
  font-size: 28px;
  color: #1E3056;
  line-height: 46px;
  letter-spacing: 0.93px;
  margin-bottom: 20px;
}

.left span {
  color: #585CE9;
}

.left p {
  font-weight: 400;
  font-size: 16px;
  color: #697BA2;
  line-height: 28px;
  letter-spacing: 1px;
  margin-bottom: 40px;
  position: relative;
}

.left button {
  width: 170px;
  height: 44px;
  line-height: 44px;
}

.right {
  width: 48%;
}

.right .ramka {
  height: 543px;
  width: 540px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
}

.right .image {
  overflow: hidden;
}

.right .one {
  height: 332px;
  width: 49%;
}

.right .one #i1 {
  width: 539px;
  position: relative;
  right: 92px;
}

.right .two {
  width: 49%;
  height: 251px;
  margin-left: 10px;
}

.right .two #i2 {
  width: 388px;
  position: relative;
  right: 40px;
}

.right .three {
  width: 49%;
  height: 200px;
  margin-top: 10px;
}

.right .three #i3 {
  width: 302px;
}

.right .four {
  width: 49%;
  height: 281px;
  position: relative;
  bottom: 70px;
  left: 10px;
}

.right .four #i4 {
  width: 539px;
  position: relative;
  right: 92px;
  bottom: 340px;
  z-index: 0;
}

.right img {
  margin: auto;
}

.right .image {
  overflow: hidden;
  border-radius: 10px;
}

.right .goals {
  height: 281px;
  position: relative;
  z-index: 2;
  background-color: rgba(88, 92, 233, 0.8);
}

.right .goals p {
  font-size: 18px;
  color: white;
  line-height: 28px;
  letter-spacing: 1.12px;
}

.right .goals strong {
  color: white;
  font-size: 14px;
  font-weight: 400;
}

.right .goals .text {
  position: relative;
  top: 35%;
  margin: 0 15px;
}

.welcome-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#services .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#services .container .one {
  z-index: 1;
}

#services .container .two {
  z-index: 2;
}

#services .container .three {
  z-index: 3;
}

#services .container .four {
  z-index: 4;
}

.InLayer {
  border-radius: 10px;
  margin-right: 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 288px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 0px 55px 25px #F7FAFD;
          box-shadow: 0px 0px 55px 25px #F7FAFD;
}

.InLayer h5 {
  font-weight: 400;
  font-size: 16px;
  color: #3B566E;
  letter-spacing: 0.7px;
  margin-bottom: 15px;
}

.InLayer p {
  font-weight: 400;
  font-size: 14px;
  color: #6F8BA4;
  letter-spacing: 0.88px;
  line-height: 26px;
  text-align: center;
  padding: 0 25px;
}

.InLayer i {
  color: #585CE9;
  font-size: 18px;
  padding: 25px;
  border-radius: 100%;
  background: #F7FAFD;
  margin-bottom: 15px;
}
/*# sourceMappingURL=main.css.map */