* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Nunito", sans-serif;
}

.container {
    width: $container-width;
    margin: 0 auto;
    margin-top: 50px;
}