footer {
    color: white !important;
    background: $purple;
    padding-top: 70px;
    p {
        color: white !important;
    }
    .container {
        .main {
            display: flex;
            flex-wrap: nowrap;
            p {
                font-weight: 400;
                font-size: 14px;
                line-height: 26px;
                letter-spacing: 0.88px;
            }
            h5 {
                font-weight: 400;
                font-size: 16px;
                color: #fff;
                letter-spacing: 0.69px;
                line-height: 30px;
                margin-bottom: 30px !important;
            }
            ul {
                display: flex;
                flex-direction: column;
                li {
                    display: inline;
                    margin-bottom: 15px;
                    font-size: 14px;
                    color: $footerText;
                    i {
                        margin-right: 5px;
                        font-size: 14px;
                        position: relative;
                        top: 3px;
                    }
                    &:hover {
                        i {
                            margin-right: 10px;
                            transition: all 0.3s ease 0s;
                        }
                    }
                }
            }
        }
        .section {
            margin-left: 29px;
        }
        .copyright {
            text-align: center;
            border-top: 1px solid #777BFF;
            margin-top: 30px;
            padding-top: 30px;
            padding-bottom: 30px;
            font-weight: 400;
            font-size: 14px;
            color: $footerText;
            letter-spacing: 0.88px;
        }
    }
}

//for footer parts of flex
.one {
    width: 456px;
}

.two {
    width: 170px;
}

.three {
    width: 170px;
}

.four {
    p {
        margin-bottom: 5px;
        font-size: 14px;
        line-height: 26px;
    }
    i {
        font-size: 14px;
        color: $footerText;
        padding: 0 5px;
    }
}